# Blacklist everything
*

# Whitelist all Directories
!*/

# Whitelist all File-Types which are interesting to us
!*.vhd
!*.vhdl
!*.py
!*.c
!*.h
!Makefile
!.gitignore

# Whitelist Github Directory
!.github/
!.github/**
!.github/**/**
